* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.controls {
	display: flex;
	justify-content: space-around;
	width: 400px;
	margin-bottom: 50px;
	visibility: hidden;
}

.show {
	visibility: visible;
}
h1 {
	font-family: 'Raleway Dots', cursive;
}

.holes {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	justify-content: center;
}

.hole {
	width: 130px;
	height: 130px;
	margin: 15px;
	background: #000;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	/* overflow: hidden; */
}

.mole {
	width: 30px;
	height: 140px;
	background: rgb(255, 0, 0);
	position: absolute;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	/* top: 120px; */
}
.hit {
	height: 40px;
	width: 40px;
	background: none;
	border-radius: 50%;
	position: absolute;
	top: 35%;
	z-index: 5;
}

.white {
	background: yellowgreen;
}
.up {
	visibility: visible;
}

footer {
	margin-top: 30px;
}
